@import "tailwindcss";
@plugin "daisyui";


.gloria-hallelujah-font{
    font-family: "Gloria Hallelujah, cursive";
    font-weight: normal;
    font-style: normal;
  }
  
  a.active{
    color: gray;
    text-decoration: underline;
  }